name: app_lembretes
description: "Aplicativo de Lembretes com Notificações Push"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Banco de dados SQLite
  sqflite: ^2.3.0
  path: ^1.9.1

  # Notificações Locais
  flutter_local_notifications: ^19.5.0
  permission_handler: ^12.0.1
  timezone: ^0.10.1

  # Formatação e Localização
  intl: ^0.20.2
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
